In [2]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(len(list1))
#concatenation
print([1,2,3,4,5]+[6,7,8,9,19])
print("sanny"*5)
print("sai "*8) 
#in
'a' in ['a','e','i','o','u']
#not in 
'a' not in ['a','e','i','o','u']
#max
print(max(list1))
#min
print(min(list1))

10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 19]
sannysannysannysannysanny
sai sai sai sai sai sai sai sai
10
1

In [5]:
'a' in ['a','e','i','o','u']

True

In [6]:
'a' not in ['a','e','i','o','u']

False

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=list1
print("list1:",list1)
print("list2:",list2)
list3=list1[2:6]
print("cloned subset of list1:",list3)

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cloned subset of list1: [3, 4, 5, 6]

In [9]:
list1=["hi","students","good","morning"]
print(list1[0])
print(list1[-4])
print(list1[1:])
for i in list1:
    print(i,end=" ")

hi
hi
['students', 'good', 'morning']
hi students good morning

In [12]:
num=[1,2,3,4,5,6,7,8,9,10]
print(num)
print("1st element:",num[0])
print("1st element:",num[-10])
print("slicing:",num[2:5])
print("slicing:",num[::2])
print("slicing:",num[::3])
print("reverse:",num[::-1])
print("reverse:",num[::-2])
print("slicing:",num[7:10])
print("slicing:",num[1:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1st element: 1
1st element: 1
slicing: [3, 4, 5]
slicing: [1, 3, 5, 7, 9]
slicing: [1, 4, 7, 10]
reverse: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
reverse: [10, 8, 6, 4, 2]
slicing: [8, 9, 10]
slicing: [2, 3]

In [13]:
list1=[1,2,3,4,5,6,7,8,9,10]
print("sum=",sum(list1))
list1=list("sanny")
print(list1)

sum= 55
['s', 'a', 'n', 'n', 'y']

In [15]:
#sort
list1=[45,22,90,56,1,74,29,3,80]
list2=sorted(list1)
print(list2)

[1, 3, 22, 29, 45, 56, 74, 80, 90]